<div class="row">
<div class="col-md-6">
  <div class="form-group mt-3">
    <!-- <button class="button button-contactForm boxed-btn">Login</button> -->
    <button class="button button-contactForm boxed-btn" type="submit" (click)="teacherpage()" >Register As Teacher</button>
  
  </div>
</div>
  
<div class="col-md-6">
  <div class="form-group mt-3">
    <!-- <button class="button button-contactForm boxed-btn">Login</button> -->
    <button class="button button-contactForm boxed-btn" type="submit" (click)="studentpage()" >Register As Student</button>
  
  </div>
</div>
  

</div>
