<h2 mat-dialog-title>Add Category</h2>
<mat-dialog-content class="mat-typography">

    <form class="example-form" [formGroup]="createForm">
        <ul>
            <li>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Enter category name</mat-label>
           <input type="text" matInput formControlName="categoryname" placeholder="category name">
          <mat-error *ngIf="createForm.controls['categoryname'].hasError('required')">
            category name is <strong>required</strong>
          </mat-error> 
        </mat-form-field>
    </li>

    <li>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enter category description </mat-label>
             <input type="text" matInput formControlName="categorydescription" placeholder="category description">
            <mat-error *ngIf="createForm.controls['categorydescription'].hasError('required')">
                category description  is <strong>required</strong>
            </mat-error> 
          </mat-form-field>
        </li>

        </ul>
      </form>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" [disabled]="!createForm.valid" cdkFocusInitial (click)="save()">Save</button>
</mat-dialog-actions>