                    <!-- Header-btn -->
                    <div class="header-search d-none d-lg-block">
                        <div action="#" class="form-box f-right ">
                            <input  [(ngModel)]="TeacherName" type="text" class="form-box f-right "  placeholder="Search Teacher">
                            <div class="search-icon">
                              <i (click)="SetTeacherName()" class="fas fa-search special-tag"></i>
                            </div>
                        </div>
                        
                    </div>

