<app-header></app-header>
<br>
<br>
<br>
<br>

<h1 style="margin-left:23.5% ; color: #030431; font-size: 50px; ">Are you a student or a teacher ?</h1>
<br>
<br>
<br>
<div class="row" style="margin-left:22%;">
    <div class="col-md-6">
      <div class="form-group mt-3">
        <button class="button button-contactForm boxed-btn" type="submit" (click)="teacherregister()" >Teacher</button>
      
      </div>
    </div>
      
    <div class="col-md-6">
      <div class="form-group mt-3">
        <!-- <button class="button button-contactForm boxed-btn">Login</button> -->
        <button class="button button-contactForm boxed-btn" type="submit" (click)="stdnetregister()" >Student</button>
    
    </div>
      
    </div>
</div>
<br>
<br>
<br>
<br>
    <app-footer></app-footer>