
    <div class="container-xxl position-relative bg-white d-flex p-0">

        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary" style="color: #1f2b7b !important;font-weight: bold;"><i class="fa fa-hashtag me-2"></i>ETreeks</h3>
                </a>
               
                <div class="navbar-nav w-100">
                    <a href="admin/chart" class="nav-item nav-link" style="color: #1f2b7b !important;">ETreeks Chart </a><br>               
                    <a (click)="manageCategory()" class="nav-item nav-link" style="color: #1f2b7b !important;">Manage Category</a><br>  
                    <a href="admin/managePage" class="nav-item nav-link" style="color: #1f2b7b !important;">Manage about us </a><br>               
                    <a href="admin/ManageTeachers" class="nav-item nav-link" style="color: #1f2b7b !important;">Manage Teachers</a><br>
                    <a href="admin/ManageStudents" class="nav-item nav-link" style="color: #1f2b7b !important;">Manage Students</a><br>
                    <a href="admin/count" class="nav-item nav-link" style="color: #1f2b7b !important;">Number Of Teachers & Students </a><br>
                    <a href="admin/contactUs" class="nav-item nav-link" style="color: #1f2b7b !important;">Manage contact us</a><br>
                    <a href="admin/managetestmonial" class="nav-item nav-link" style="color: #1f2b7b !important;">Manage Testomonial</a><br>
                    <a href="admin/updateprofile" class="nav-item nav-link" style="color: #1f2b7b !important;">Update Profile</a><br>
                    <a (click)="logout()" class="nav-item nav-link" style="color: #1f2b7b !important;">Log Out</a><br/>                   
                </div>
            </nav>
        </div>      


