<app-header></app-header>

<h1>Teacher Register</h1>


<!-- <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
    <input type="text" name="name" ngModel placeholder="name"><br>
    <input type="text" name="name" ngModel placeholder="email"><br>
    <button type="submit">subit data</button>
</form>  -->

<!-- <app-teacher-registerdesign *ngFor="let obj of auth.data"
[acoountid]="obj.acoountid"
[roleid]="obj.roleid" 
[firstname]="obj.firstname" 
[lastname]="obj.lastname"
[accountpassword]="obj.accountpassword"
[email]="obj.email"
[phonenumber]="obj.phonenumber"
[gender]="obj.gender"
[birthofdate]="obj.birthofdate"
[profilepicture]="obj.profilepicture"
[accountstatus]="obj.accountstatus" 
[certificate]="obj.certificate"
[specialization]="obj.specialization" 
[wline]="obj.wline" 
[hline]="obj.hline"
[role]="obj.role" 
[appointments]="obj.appointments" 
[courses]="obj.courses" 
[testmonials]="obj.testmonials">
</app-teacher-registerdesign>  -->




<app-footer></app-footer>
