
        <app-header></app-header>
        <main >
        <!-- About Details Start -->
        <div class="slider-area">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>About Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-details section-padding30" style="padding-top:90px; padding-bottom:70px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="about-details-cap mb-50">
                            <h4>Our Mission
                            </h4>
                            <p *ngFor="let item of descriptionAboutus">
                                {{item.aboutustext}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </main>
        <!-- About Details End -->
        <app-footer></app-footer>