<div class="categories-area section-padding30" style="padding-bottom:0px">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="cl-xl-7 col-lg-8 col-md-10">
        <!-- Section Tittle -->
        <div class="section-tittle text-center mb-70">
          <span>Popular Online Courses</span>
          <h2 style="font-size: 350%">Lets Brows All Categories</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let item of categoriesList" class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cat mb-50">
          <div class="cat-icon">
            <span class="flaticon-web-design"></span>
          </div>
          <div class="cat-cap">
            <h5><a disabled>{{item.categoryname}}</a></h5>
            <p>{{item.categorydescription}}</p>
            <!-- <button type="button" (click)="getCourseByCategory(item.categoryid)" class="btn btn-danger btn-lg">
              select
            </button> -->
            <a type="button" (click)="getCourseByCategory(item.categoryid,item.categoryname)" class="genric-btn primary small">Browse Courses</a>            <!-- <input type="text" [(ngModel)]="currentMsgToChild1"> -->

            <!-- ngModel [value]="categoryid" [(ngModel)]="categoryid"  -->

          </div>
        </div>
      </div>
    </div>

    <!-- button find coure-->
    <!-- <div class="row">
    <div class="col-lg-12">
        <div class="browse-btn2 text-center mt-50">
            <a href="courses.html" class="btn">Find More Courses</a>
        </div>
    </div>
</div> -->


  </div>
</div>
