<app-header></app-header>

<h1 *ngFor="let item of courseInformationAppointement"
  style="color: #2D3092; font-size:40px; margin-top:40px; margin-left:40px">Introduction about {{item.coursename}}
  Course</h1>

<table>
  <tr>
    <td>
      <div *ngFor="let item of courseInformationAppointement" class="col-lg-8 mb-5 mb-lg-0"
        style="margin-left:30px;margin-top: 40px;">
        <div *ngFor="let item of courseInformationAppointement" class="blog_left_sidebar">
          <article class="blog_item">
            <div class="blog_item_img">
              <iframe class="card-img rounded-0" width="500" height="315" [src]="urlVideoCourse"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
              <!-- teacher name and avatar picture  -->
              <div>
                <table *ngFor="let itemName of TeacherName">
                  <tr *ngIf="(item.acoountid == itemName.acoountid)">
                    <td>
                      <img src="./assets/img/{{itemName.profilepicture}}"
                        style="  vertical-align: middle;width: 50px;height: 50px;border-radius: 50%;"></td>
                    <td>
                      <h1 *ngFor="let item of courseInformationAppointement"
                        style="color: #030431; font-size:30px; margin-top:20px; margin-left:5px;">{{item.coursename}} by
                        {{itemName.firstname}}</h1>
                    </td>
                  </tr>
                </table>
  <tr>
    <td>
      <div style="margin-left: 65px;"> Rate:</div>
    </td>
    <td>
      <div class="course-cap-mid d-flex justify-content-between">
        <div style="margin-top: 10px; margin-left: 10px;" class="course-ratting">
          <i *ngFor="let item of courseRateCounter" style="color: #ffd400; margin-left: 3px;" class="fas fa-star"></i>
        </div>
      </div>
    </td>
  </tr>
  </div>
  </div>
  <div style="margin-left: 20px;">
    <a style="margin-top: 15px; color: #3f3e3e;" class="d-inline-block">
      <h2 class="blog-head" style="color: #3f3e3e;"><u style="color:#3f3e3e">Description about {{item.coursename}}</u>
      </h2>
    </a>
    <p>{{item.coursedescription}}</p>
  </div>

  </article>
  </div>
  </div>
  </td>

  <td>
    <br>
    <div
      style="background-color:#bcdfff; position: relative; margin-left: -240px; align-items: center; border-radius:2% ; margin-top:-175px; margin-right: 20px;  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.4);">
      <br>
      <br>
      <h1 style="color: #2D3092; font-size:30px;  margin-left: 30px;">Create Appointement</h1>

      <div class="col-lg-8">
        <form style="margin-left: 25px; width: 400px" class="form-contact contact_form" #appointmentPost="ngForm"
          (ngSubmit)="onSubmit(appointmentPost.value)">

          <!-- Start Date -->
          <h4 class="blog-head" style="color: #3f3e3e;">Choose the day that suits you:</h4>
          <input style="background-color:white" class="form-control" type="date" name="startdate" ngModel
            placeholder="startdate" />
          <br>

          <!-- Time -->
          <h4 class="blog-head" style="color: #3f3e3e;">Select the hour that suits you:</h4>
          <select style="background-color:white" class="form-control" name="houre" ngModel>
            <option value="" disabled selected hidden>Choose hour ...</option>
            <option class="form-control" value="9">9 Am</option>
            <option class="form-control" value="10">10 Am</option>
            <option class="form-control" value="11">11 Am</option>
            <option class="form-control" value="12">12 Am</option>
            <option class="form-control" value="1">1 Pm</option>
            <option class="form-control" value="2">2 Pm</option>
            <option class="form-control" value="3">3 Pm</option>
            <option class="form-control" value="4">4 Pm</option>

          </select> <br />

          <!-- account id -->
          <input class="form-control" type="number" name="acoountid" ngModel placeholder="id"
            [value]="acoountidAppointment" [(ngModel)]="acoountidAppointment" hidden />

          <input class="form-control" type="date" name="enddate" ngModel placeholder="enddate" [value]="endDate"
            [(ngModel)]="endDate" hidden />

          <input class="form-control" type="text" name="appointmentstatus" ngModel placeholder="appointmentstatus"
            [value]="appointmentstatus" [(ngModel)]="appointmentstatus" hidden />

          <!-- appointment id -->
          <input class="form-control" type="number" name="appointmentid" ngModel placeholder="id"
            [value]="appointmentid" [(ngModel)]="appointmentid" hidden />


          <input class="form-control" type="number" name="courseid" ngModel placeholder="courseid" [value]="courseid"
            [(ngModel)]="courseid" hidden />

          <button class="button button-contactForm boxed-btn" type="submit">
            Make Appointement
          </button>
          <br />
        </form>
      </div>
      <br> <br>
    </div>

  </td>
  </tr>
</table>


<app-footer></app-footer>
