

<div class="col-lg-8">
    <h1 class="form-contact contact_form" style="color: #2D3092; font-size: 400%;">Register</h1>
  
    <!-- Form-->
    <form class="form-contact contact_form">
        <div class="row">
          
        <!-- Email-->
         <mat-form-field appearance="fill" style="width:60%;">
             <div class="col-12">
                       <input type="email"  class="form-control valid" [formControl]="emailuser" placeholder="Email" >
                       <mat-error  *ngIf="emailuser.hasError('email') && !emailuser.hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="emailuser.hasError('required')">
                        Email is <strong>required</strong>
                      </mat-error>
              </div>
         </mat-form-field>
        <!-- End Email-->
  
        <!-- Password-->
         <mat-form-field appearance="fill" style="width:60%;">
              <div class="col-12">
                     <input type="password"  class="form-control valid"  [formControl]="passworduser" placeholder="Password" >
                     <mat-error *ngIf="passworduser.hasError('minlength') && !passworduser.hasError('required')">
                        Please enter a strong password
                      </mat-error>
                      <mat-error *ngIf="passworduser.hasError('required')">
                        Password is <strong>required</strong>
                      </mat-error>
              </div>
         </mat-form-field>
        <!-- End Password-->
         </div>
  
         <img src="./assets/img/login.png" width="35%" height="60%" style="position: absolute; margin-left: 710px;
         margin-top: -199px;" alt="login Image">
        <!--  Login Button-->
        <div class="form-group mt-3">
            <!-- <button class="button button-contactForm boxed-btn">Login</button> -->
            <button class="button button-contactForm boxed-btn" type="submit" [disabled]="!emailuser.valid || !passworduser.valid" >Login</button>
  
        </div>
        <!-- End Login Button-->
    </form>
      <!--End Form-->
  </div>
  
  