<form class="form-contact contact_form" [formGroup]="registerForm">
  <div class="row">



    <!-- FisrtName-->
    <mat-form-field appearance="fill" style="width:60%;">
      <div class="col-6">
                <input type="text"   class="form-control valid" formControlName="firstname" placeholder="First Name" >
       </div>
  </mat-form-field>
   <!-- End FisrtName-->

     <!-- LastName-->
     <mat-form-field appearance="fill" style="width:60%;">
      <div class="col-6">
                <input type="text"  class="form-control valid" formControlName="lastname" placeholder="Last Name" >
       </div>
  </mat-form-field>
   <!-- End LastName-->

  <!-- Email-->
  <mat-form-field appearance="fill" style="width:60%;">
      <div class="col-6">
        <input type="email" class="form-control valid" formControlName="email" name="email" placeholder="Email"  />
        <mat-error *ngIf="registerForm.controls['email'].hasError('email') && !registerForm.controls['email'].hasError('required')">
          Please enter a valid email address
        </mat-error>
        <!-- <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error> -->
       </div>
  </mat-form-field>
 <!-- End Email-->


  <!-- Password-->
   <mat-form-field appearance="fill" style="width:60%;">
        <div class="col-6">
          <input type="password"  class="form-control valid" formControlName="accountpassword" name="password" placeholder="Password" />
          <mat-error *ngIf="registerForm.controls['password'].hasError('minlength') && !registerForm.controls['password'].hasError('required')">
            Please enter strong password
          </mat-error>
          <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
            password is <strong>required</strong>
          </mat-error>
        </div>
   </mat-form-field>
  <!-- End Password-->
   </div>

       <!-- phone number-->
       <mat-form-field appearance="fill" style="width:60%;">
          <div class="col-6">
                    <input type="text"  class="form-control valid" formControlName="phonenumber" placeholder="Phone Number" >
           </div>
      </mat-form-field>
       <!-- phone number-->

           <!-- Birh of Date-->
           <mat-form-field appearance="fill" style="width:60%;">
              <div class="col-6">
                  <input  type="date" matInput class="form-control valid" formControlName="birthofdate" placeholder="Birth of Date" >
               </div>
          </mat-form-field>
           <!--end Birh of Date-->

           <!-- gender -->     
          
             <h3>Gender</h3>
             
         <div class="input_fild radio_option row">
           <div class="col-md-4">
           <input type="radio" value="male" formControlName="gender">
           <label for="rd1">Male</label>
          </div>
          <div class="col-md-4">
           <input type="radio" value="female" formControlName="gender">
           <label for="rd1">Female</label>
         </div>
        </div>
          <!-- end gender -->

        <!-- special-->
        <mat-form-field appearance="fill" style="width:60%;">
          <div class="col-6">
                    <input type="text" class="form-control valid" formControlName="specialization" placeholder="Specialization" >
           </div>
      </mat-form-field>
       <!-- End special-->

       <!-- <mat-form-field appearance="fill" style="width:60%;">
       <div class="single_form">
        <input type="file"  class="form-control valid" placeholder="Certificate">
    </div>
  </mat-form-field> -->

<div class="row">
  <div class="col-md-4">
    <input type="file" #file class="form-control valid" 
    placeholder="Profile Picture" formControlName="profilepicture"
     (change)="uploadimg(file.files)" style="display: none;">
     
   <button class="btn btn-info" (click)="file.click()">Upload profile Image</button>
  </div>

  <div class="col-md-4">
    <input type="file" #file class="form-control valid" 
    placeholder="Certificate" formControlName="certificate"
     (change)="uploadcert(file.files)" style="display: none;">
     
   <button class="btn btn-info" (click)="file.click()">Upload Certificate</button>
  </div>
</div>
     

    

   <!-- <img src="./assets/img/login.png" width="35%" height="60%" style="position: absolute; margin-left: 710px;
   margin-top: -199px;" alt="login Image"> -->
  <!--  Login Button-->
  <div class="form-group mt-3">
      <!-- <button class="button button-contactForm boxed-btn">Login</button> -->
      <button class="button button-contactForm boxed-btn" type="submit" (click)="submit()">Register</button>

  </div>
  <!-- End Login Button-->
</form>