<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4" style="margin-left:20%;">
        <h1 style="color: #1f2b7b;margin-left: -85%; font-weight: bold;">Contact Us</h1>
        <div class="d-flex align-items-center justify-content-between mb-4">
            <!-- <button class="bt btn-success" (click)="createcategory()">Create Category</button> -->
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark"  style="color:#1f2b7b!important">
                        <th scope="col">Message Subject </th>
                        <th scope="col">Message Body </th>
                        <th scope="col">Message Sender </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of allMessages">
                        <td>{{obj.subject}}</td>
                        <td>{{obj.messagebody}}</td>
                        <td>{{obj.senderemail}}</td>
                        <td><button class="btn btn-sm btn-secondary" style="background-color: #1f2b7b;" (click)="openSendMessageDialog(obj.senderemail,obj.messagebody,'123etreeks','Etreeks@gmail.com')">Send Email</button></td>                      
                        </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<app-admindashboard></app-admindashboard>
<mat-dialog-content class="mat-typography">
    <ng-template #callSendEmailDialog>
        <!-- //(ngSubmit)="SendEmail()" -->
        <form [formGroup]="SendEmailForm" style="width:600px!important;">
            <ul>
                <li>
                    <mat-form-field style="width: 500px !important;" class="example-full-width" appearance="fill">
                        <mat-label> enter EmailTo </mat-label>
                        <input type="text"  matInput formControlName="EmailTo" [(ngModel)]="previousMessgae.EmailTo">
                    </mat-form-field>  
                </li>

                <li>
                    <mat-form-field style="width: 500px !important;" class="example-full-width" appearance="fill">
                        <mat-label>enter EmailFrom </mat-label>
                        <input type="text" matInput formControlName="EmailFrom" [value]="emailfromTeracher" readonly
                            [(ngModel)]="emailfromTeracher" placeholder="enter the EmailFrom ">
                    </mat-form-field>
                </li>  

                <li>
                    <mat-form-field style="width: 500px !important;"  class="example-full-width" appearance="fill">
                        <mat-label>enter the Password </mat-label>
                        <input type="password" matInput formControlName="Password" [value]="Emailpassword" readonly
                            [(ngModel)]="Emailpassword" placeholder="enter the Password ">
                    </mat-form-field>
                </li>
                 <li>
                    <mat-form-field style="width: 500px !important;" class="example-full-width" appearance="fill">
                        <mat-label>enter the  text message </mat-label>
                        <textarea type="text" matInput formControlName="textMsg" rows="7" cols="200"
                            placeholder="enter the textMsg "></textarea>
                    </mat-form-field>
                </li>         

            </ul>
            <button class= "btn btn-secondary"style="background-color: #1f2b7b;" (click)="callJWT()">Send Email</button>

        </form>

    </ng-template>