
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4" style="margin-left:20%;">
        <h1 style="color: #1f2b7b;margin-left: -88%; font-weight: bold;">Teachers</h1>
        <div class="d-flex align-items-center justify-content-between mb-4">
            
            <!-- <button class="bt btn-success" (click)="createcategory()">Create Category</button> -->
        </div>
        <div class="table-responsive">
            <div style="margin-right: 76%;">
            <input type="text" [(ngModel)]='teachername'>
            <button (click)="search(teachername)" style="background-color:  #1f2b7b !important;">Search</button>
        </div>
        <br><br>
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead class="text-dark"  style="color:#1f2b7b!important">
                    <tr class="text-dark">
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Account Password</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Gender </th>
                        <th scope="col">Birth Of Date</th>
                        <th scope="col">Profile Picture</th>
                        <th scope="col">Account status</th>
                        <th scope="col">Certificates</th>
                        <th scope="col">Specialization</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of AllTeachers">
                        <td>{{obj.firstname}}</td>
                        <td>{{obj.lastname}}</td>
                        <td>{{obj.email}}</td>
                        <td>{{obj.accountpassword}}</td>
                        <td>{{obj.phonenumber}}</td>
                        <td>{{obj.gender}}</td>
                        <td>{{obj.birthofdate|date}}</td>
                        <td><img src="../../../assets/img/{{obj.profilepicture}}" style="width:70%;height: 70%;"></td>
                        <td>{{obj.accountstatus}}</td>
                        <td>{{obj.certificate}}</td>
                        <td>{{obj.specialization}}</td>
                        <td><button class="btn btn-secondary" (click)="openUpdateDialog(obj.acoountid,obj.roleid,obj.firstname,obj.lastname,obj.email,obj.accountpassword,obj.phonenumber,obj.gender,obj.birthofdate,obj.profilepicture,obj.certificate,obj.specialization, obj.accountstatus)">Change Status</button></td>
                        <td><button class="btn btn-sm btn-danger" (click)="openDeleteDialog(obj.acoountid)">Delete</button></td>
                        <td><button class="btn btn-sm btn-secondary" style="background-color: #1f2b7b;" (click)="openSendMessageDialog(obj.EmailTo,obj.textMsg,obj.Password,obj.EmailFrom)">Send Email</button></td>   
                        <td></td>
                     </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<app-admindashboard></app-admindashboard>

<ng-template #callUpdateTeacherDialog>
    <form [formGroup]="updatForm" (ngSubmit)="updateTeacher()">
        <ul>
<!--            
            <li>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>The account status</mat-label>
                    <input type="text" matInput formControlName="accountstatus" [(ngModel)]="previousData.accountstatus"
                        placeholder="enter the accountstatus">
                </mat-form-field>
            </li> -->
            <h3>Choose Account Status</h3>
            <select class="form-control" formControlName="accountstatus" [(ngModel)]="previousData.accountstatus"  name="gender" ngModel >
                <option value="" disabled selected hidden>Choose Status...</option>
               
                <option class="form-control" value="Accept">Accept</option>
                <option class="form-control" value="Reject">Reject</option>
            </select>  <br />
         
        </ul>
        <button class="btn btn-secondary"  style="background-color: #1f2b7b;">Update</button>  
    </form>
  
  </ng-template>

<ng-template #callDeleteDialog>
    <h2> are you sure you want to delete this abouts us ?</h2>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close="no">Cancel</button>
        <button mat-button mat-dialog-close="yes">Delete</button>
    </mat-dialog-actions>
</ng-template>
<ng-template #SearchDialog>   
    <mat-dialog-content>
        This is a dialog
      </mat-dialog-content>
</ng-template>

<ng-template #callSendEmailDialog>
    <!-- //(ngSubmit)="SendEmail()" -->
    <form [formGroup]="SendEmailForm" >
        <ul>
            <li>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label> enter EmailTo </mat-label>
                    <input type="text" matInput formControlName="EmailTo" [(ngModel)]="previousMsgs.EmailTo">
                </mat-form-field>
            </li>

            <li>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>enter EmailFrom </mat-label>
                    <input type="text" matInput formControlName="EmailFrom"
                        [(ngModel)]="previousMsgs.EmailFrom" placeholder="enter the EmailFrom ">
                </mat-form-field>
            </li>  

            <li>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>enter the Password </mat-label>
                    <input type="password" matInput formControlName="Password"
                        [(ngModel)]="previousMsgs.Password" placeholder="enter the Password ">
                </mat-form-field>
            </li>   

            <li>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>enter the email text</mat-label>
                    <input type="text" matInput formControlName="textMsg"
                        [(ngModel)]="previousMsgs.textMsg" placeholder="enter the text msg ">
                </mat-form-field>
            </li>         

        </ul>
        <button class= "btn btn-secondary" style="background-color: #1f2b7b;" (click)="callJWT()">SendEmail</button>

    </form>

</ng-template>
<ng-template #callDeleteDialog>
    <h2> are you sure you want to delete this abouts us ?</h2>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close="no">Cancel</button>
        <button mat-button mat-dialog-close="yes">Delete</button>
    </mat-dialog-actions>
</ng-template>


