<app-header></app-header>

<h1>Stuent Register</h1>

<!-- 
<app-student-registerdesign *ngFor="let obj of auth.data"
[acoountid]="obj.acoountid"
[roleid]="obj.roleid" 
[firstname]="obj.firstname" 
[lastname]="obj.lastname"
[accountpassword]="obj.accountpassword"
[email]="obj.email"
[phonenumber]="obj.phonenumber"
[gender]="obj.gender"
[birthofdate]="obj.birthofdate"
[profilepicture]="obj.profilepicture"
[accountstatus]="obj.accountstatus" 
[certificate]="obj.certificate"
[specialization]="obj.specialization" 
[wline]="obj.wline" 
[hline]="obj.hline"
[role]="obj.role" 
[appointments]="obj.appointments" 
[courses]="obj.courses" 
[testmonials]="obj.testmonials">
</app-student-registerdesign> -->


<app-footer></app-footer>
