<app-header></app-header> <br /><br />

<div style="margin-left: 80px;">
<h1 style="color: #030431; margin-left: 40px; font-size: 40px">Register as Stuent</h1>



<div class="col-lg-8">
    <form style="margin-left: 25px; width: 400px" class="form-contact contact_form" #studentPost="ngForm"
        (ngSubmit)="onSubmit(studentPost.value)" >
       
            <!-- student id -->
            <input class="form-control" type="number"  name="acoountid" ngModel placeholder="id" 
                [value]="studentid" [(ngModel)]="studentid" hidden/>
            <br />
            <!-- student role id -->
            <input class="form-control" type="number" name="roleid" ngModel  placeholder="role"
                [value]="roldeidStudnet" [(ngModel)]="roldeidStudnet" hidden />
            <br />
            <!-- first name -->
            <input class="form-control" type="text" name="firstname" ngModel placeholder="fname"  required minlength="4" />
            <br />
            <!-- last name -->
            <input class="form-control" type="text" name="lastname" ngModel placeholder="lastname" />
            <br />
            <!-- password -->
            <input class="form-control" type="text" name="accountpassword" ngModel placeholder="password" />
            <br />
            <!-- email -->
            <input class="form-control" class="form-control" type="email" name="email" ngModel placeholder="email" />
            <br />
            <!-- phone number -->
            <input class="form-control" type="text" name="phonenumber" ngModel placeholder="phonenumber" />
            <br />
            <!-- gender -->
            <select class="form-control"  name="gender" ngModel >
                <option value="" disabled selected hidden>Choose Gender...</option>
                <option class="form-control" value="male">Male</option>
                <option class="form-control" value="female">Female</option>
            </select>  <br />
            <!-- date of birth -->
            <input class="form-control" type="date" name="birthofdate" ngModel placeholder="Birth of date" /> <br>
            <!-- profile picture -->
            <input style="opacity: 0;" id="file"  type="file" (change)="onFileSelected($event)" #fileInput>
            <label  class="genric-btn primary" for="file">Profile Picture</label>
            <!-- <button  (click)="fileInput.click()" class="genric-btn primary">Profile Picture</button> -->
            <!-- <input class="form-control" type="text" name="profilepicture" ngModel placeholder="profilepicture" /> -->
            <br />  <br />
            <br><br>
            <button class="button button-contactForm boxed-btn" type="submit">
                Register
            </button>
            <br /><br /><br /><br /><br />
    </form>
</div>
<img src="./assets/img/register.png" width="400px" height="420px" style="position: absolute; margin-left: 740px;
margin-top: -775px;" alt="login Image">
</div>


<app-footer></app-footer>